.sendForm {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.textarea {
    width: 100%;
    margin-right: 30px;
    border-radius: 50px;
    padding: 10px;
    border: none;
    resize: none;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.button {
    color: white;
    width: 150px;
    background-color: #0066cc;
    border: none;
    border-radius: 50px;
}

.button:hover {

}
.button:active {

}
